:root {
  /* Color  */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* menu */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffebee;
  padding: 8px 12px;
  border: 1px groove #c48b9f;
  position: sticky;
  top: 0;
}

/* logo */

.menu .logo {
  display: flex;
  align-items: center;
  color: #c48b9f;
}

.menu .logo a i {
  font-size: 2.5em;
}

.menu .logo span {
  padding-left: 5px;
  font-size: 1.5em;
}

/* content */

.menu .content {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: bolder;
  flex: 3;
}

.menu .content li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.menu .content li a i {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  font-size: 1.5em;
  /* padding-left: 9vw; */
  /* padding-right: 9vw; */
  margin: 0;
}

.menu .content li a span {
  font-size: 0.1em;
  padding-top: 4px;
}

/* hyperlink set */

.menu .content li a:link,
.menu .logo a:link {
  color: #c48b9f;
}

.menu .content li a:visited,
.menu .logo a:visited {
  color: #c48b9f;
}

.menu .content li a:active,
.menu .logo a:active {
  color: #c48b9f;
}

/* login */

.menu .login a {
  color: #c48b9f;
  text-decoration: none;
}

.menu .login a i {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  border-left: 1px solid #c48b9f;
  padding-left: 1vw;
}

.menu .login a i span {
  font-size: 0.5em;
}

.toogleBtn {
  display: none;
  position: absolute;
  font-size: 2em;
  color: #c48b9f;
}

/* bg */

.bg {
  background-image: url("image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17rem 0;
  font-size: 5em;
  color: #f3e5f5;
}

/* main */

.main {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #ffebee;
  height: 70rem;
}

.main .main_image img {
  border-radius: 50%;
  padding: 20px;
}

.main .title {
  padding: 0 10vw;
}

.main .title ul li {
  list-style: none;
}

/* blog */

.blog {
  background-color: #fff1f7;
  height: 70rem;
}

/* image */

.image {
  background-color: #ffebee;
  height: 70rem;
}

/* comment */

.comment {
  background-color: #fff1f7;
  height: 70rem;
}

/* sign-in */

.sign-in {
  background-color: #ffebee;
  height: 70rem;
}

@media screen and (max-width: 768px) {
  .menu {
    justify-content: center;
  }

  .menu .logo {
    align-content: center;
  }

  .menu .content {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }

  .menu .content li {
    padding-bottom: 18px;
  }

  .menu .content li :hover {
    background-color: #fce4ec;
    border-radius: 4px;
  }

  .menu .content li a i {
    padding-left: 45vw;
    padding-right: 45vw;
  }

  .menu .login a i {
    position: absolute;
    right: 1vw;
    top: 10px;
  }

  .toogleBtn {
    display: block;
    position: absolute;
    top: 4px;
    left: 2.5vw;
    padding: 0;
  }

  .content.active {
    display: flex;
  }

  .bg span {
    padding: 100px 0;
  }

  .main {
    flex-direction: column;
    height: 350px;
  }
}
